{% load static %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>DIARY</title>
	<link rel="stylesheet" href="{% static 'moj.css' %}">
</head>
<body>
	{% if user.is_authenticated %}
		Witaj {{ user.username }}.
		<a href="{% url 'logout' %}">Wyloguj się.</a>
		<a href="{% url 'password_change' %}">Zmień hasło..</a>
	{% else %}
		<a href="{% url 'login' %}">Zaloguj się</a>
	{% endif %}
<h3>{% block title %}tytuł{% endblock %}</h3>
{% block content %}zawartość{% endblock %}
{% block footer %}Katarzyna Parzybut{% endblock %}
</body>
</html>
